name: Build Project

on:
  push:
    branches: [ "*" ]
  pull_request:
    branches: [ "*" ]

jobs:
  build:
    runs-on: windows-latest
    
    steps:
      - uses: actions/checkout@v3

      - name: Add MSVC to PATH
        uses: ilammy/msvc-dev-cmd@v1

      - name: Install CMake
        uses: lukka/get-cmake@latest

      - name: Install vcpkg
        uses: lukka/run-vcpkg@v10
          
      - name: Setup ccache
        uses: hendrikmuhs/ccache-action@v1.2

      - name: Build
        uses: lukka/run-cmake@v10
        with:
          configurePreset: 'default'
          configurePresetAdditionalArgs: "['-DCMAKE_C_COMPILER_LAUNCHER=ccache','-DCMAKE_CXX_COMPILER_LAUNCHER=ccache','-DCMAKE_MSVC_DEBUG_INFORMATION_FORMAT=Embedded']"
          buildPreset: 'default'

      - name: Upload artifacts
        uses: actions/upload-artifact@v4
        with:
          name: Build
          path: |
            ${{github.workspace}}/build/Module.dll
            ${{github.workspace}}/build/Module.pdb
          if-no-files-found: warn
          compression-level: 0
